.mainContainer {
    background-color: white;
}

.contentContainer {
    display: grid;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

h2 {
    font-family: AxiformaNormal;
    font-size: max(20px, 2vw);;
    color: black;
    text-align: center;
}

.projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(400px, 48%));
    justify-content: center;
    align-content: space-around;
    gap: 25px;
}

.projectContainer img {
    width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=90); /* msie */
}

.comingSoon {
    margin: 0 auto;
    width: 10vw;
    min-width: 150px;
}