.mainContainer {
    background-color: #FFFBFF;
}

.contentContainer {
    display: grid;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

h2 {
    font-family: AxiformaNormal;
    font-size: max(20px, 2vw);;
    color: #00916E;
    text-align: center;
}

.projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(400px, 48%));
    justify-content: center;
    align-content: space-around;
    gap: 25px;
}

.projectContainer img {
    width: 100%;

}

.comingSoon {
    margin: 0 auto;
    width: 10vw;
    min-width: 150px;
}