<div class="mainContainer">
    <div class="contentContainer">
        <div class="py-4"></div>
        <h2>Contact Me</h2>
        <div class="py-4"></div>
        <div> 
            <p style="color: white;"> If you fancy a chat feel free to drop me a line!</p>
            <form>
                <div class="input-group emailContainer">
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email" id="name" placeholder="Email...">
                </div>
                <div class="py-2"></div>
                <div class="input-group textContainer">
                    <textarea class="form-control" rows="3" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email" id="name" placeholder="Enter Message Here..." required></textarea>
                </div>
            </form>

        </div>

    </div>
</div>