.mainContainer {
    background-color: #262626;
    height: 100vh;
    width: 100%;

}

* {
    z-index: 1000;
}
.back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;  
}

.welcomeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    row-gap: 10%;
    column-gap: 5%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: max(100px, 12%);
}

.welcomeText {
    font-size: max(24px, 3vw);
    font-family: AxiformaSemiBold;
    color: #F5F5F5;
}

.selfie {
    height: 40vh;
    min-height: 20vh;
    border-radius: 40vh;
    padding: 0;
    margin: 0;
}

.logo {
    height: 75px;
    min-height: 10px;
    display: block;
}

.arrow 
{
  position:absolute;
  bottom: 5vh;
  right: 10vw;
}