.container {
    background-color: #262626;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.welcomeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    align-items: center;
    justify-items: center;
    width: 80%;
}

.welcomeText {
    font-size: 64px;
    font-family: AxiformaSemiBold;
    color: #F5F5F5;
}

img {
    height: 40vh;
    border-radius: 40vh;
}

img.logo {
    height: 75px;
    display: block;
}