<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center navBackground">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>About</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Expierences</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
        <a ngbNavLink>Games</a>
        <ng-template ngbNavContent>
        </ng-template>
    </li>
    <li [ngbNavItem]="5">
        <a ngbNavLink>Contact</a>
        <ng-template ngbNavContent>
        </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav"></div>
  