<ul [@expandOnEnter] ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center navBackground">
    <li [ngbNavItem]="1">
      <a ngbNavLink appScrollAnchor="one">Home</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" appScrollAnchor="two">
      <a ngbNavLink>About</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" appScrollAnchor="three">
      <a ngbNavLink>Games and Projects</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="4"  appScrollAnchor="four">
        <a ngbNavLink>Contact</a>
        <ng-template ngbNavContent>
        </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav"></div>
  